<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="public/css/index.css">
    </head>
    <body>
        {{block "header" .}}
            This is where the header is supposed to be if it doesn't find the block
        {{end}}
        <div class="space content">
            {{block "content" .}}
                <!-- fallback -->
            {{end}}
        </div>
        {{block "footer" .}}
        {{end}}
    </body>
</html>